.homeContent {
    margin: 10px 15px;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    font-size: 15px;
    margin: 10px 15px;
}

.doc {
    font-size: 15px;
    margin-top: 20px;
}