.targetTableRectangle {
    width: 200px;
    height: 50px;
    position: relative;

    margin: 5px 10px;

    border-color: darkblue;
    border-style: solid;
    background-color: lightskyblue;
}

.targetTableRectangleSelected {
    width: 200px;
    height: 50px;

    margin: 5px 10px;

    border-color: black;
    border-style: dashed;
    background-color: lightskyblue;

}

.cdmTableText {
    font-size: 15px;
    text-align: center;
}

