.sourceTableRectangle {
    width: 200px;
    height: 50px;
    position: relative;

    margin: 5px 10px;

    border-color: darkred;
    border-style: solid;
    background-color: orange;
}

.sourceTableRectangleSelected {
    width: 200px;
    height: 50px;

    margin: 5px 10px;

    border-color: black;
    border-style: dashed;
    background-color: orange;
}

.sourceTableText {
    font-size: 15px;
    text-align: center;
}