.sourceTableRectangle {
    width: 200px;
    height: 50px;
    position: relative;
    margin-top: 1%;

    border-color: darkred;
    border-style: solid;
    background-color: orange;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.sourceTableRectangleSelected {
    width: 200px;
    height: 50px;
    margin-top: 1%;
    position: relative;

    border-color: black;
    border-style: dashed;
    background-color: orangered;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}