.sourceTableRectangle {
    width: 200px;
    height: 50px;
    position: relative;
    margin-top: 1%;

    border-color: darkred;
    border-style: solid;
    background-color: orange;
}

.sourceTableRectangleSelected {
    width: 200px;
    height: 50px;
    margin-top: 1%;

    border-color: black;
    border-style: dashed;
    background-color: orangered;
}

.sourceTableText {
    font-size: 15px;
    text-align: center;
}