.showFileName {
    visibility: visible;
}

.hideFileName {
    visibility: hidden;
}

.modalBody {
    margin: 0 2%;
}

.bodyEntries {
    vertical-align: center;
    margin: 1% 0;
}

.CDMdropdown {
    margin-left: 10px;
    color: greenyellow;
}