.card {
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    min-width: 200px;
    min-height: 200px;

    max-width: 300px;
    max-height: 300px;
}

.accessButton {
    margin:0 auto;
    display:block;
}
