.card {
    margin: 5% 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    min-width: 200px;
    min-height: 100px;

    max-width: 300px;
}

.title {
    font-size: 14;
}

.accessButton {
    margin: 0 auto;
    display: block;
}
